* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  background-color: rgb(0, 0, 0);
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 11px 0;
  overflow-x: auto;
  white-space: nowrap;
}

.image-gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 12vw;
  font-weight: 900;
  letter-spacing: -3px;
  line-height: 0.8;
  color: rgb(255, 255, 255);
}

.hero h2 {
  font-size: 3vw;
  font-weight: 400;
  color: rgb(222, 222, 222);
  margin-top: 10px;
}

.content {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.article {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(235, 255, 214, 0.2);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
}

.article:hover {
  transform: translateY(-5px);
}

.article .image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.article .image-container img {
  width: 700px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.article h2 {
  font-size: 24px;
  font-family: "Anton";
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.article p {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(255, 255, 255);
}
